<!-- <app-root></app-root> -->

<!-- Navbar -->
<app-nav></app-nav>
<!-- Promo advert -->
<div style="margin-right: 155px; margin-left: 145px">
  <div
    class="text-white bg-secondary"
    style="
      font-size: 25px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    "
  >
    <marquee behavior="row" direction="left">
      <SPan class="text-light badge bg-warning"> PROMO! PROMO!! PROMO!!! </SPan
      >Enjoy Free Unlimited Delivery on
      <SPan class="text-warning"> EDDIE-FLEX</SPan>ONLINESTORE Amazing deals
      just for you Get 10% off every purchase with
      <span class="text-warning"> EDDIE-FLEX </span>
      loyalty card
    </marquee>
  </div>
</div>

<router-outlet></router-outlet>
<!-- SECTIONS-ONE  -->

<!-- FOOOTER -->
<app-footer></app-footer>
