<!-- <app-root></app-root> -->

<!-- Navbar -->
<app-nav></app-nav>
<!-- Promo advert -->
<div style="margin-right: 155px; margin-left: 145px">
  <div
    class="text-white bg-secondary"
    style="
      font-size: 25px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    "
  >
    <marquee behavior="row" direction="left">
      <SPan class="text-light badge bg-warning"> PROMO! PROMO!! PROMO!!! </SPan
      >Enjoy Free Unlimited Delivery on
      <SPan class="text-warning"> EDDIE-FLEX</SPan>ONLINESTORE Amazing deals
      just for you Get 10% off every purchase with
      <span class="text-warning"> EDDIE-FLEX </span>
      loyalty card
    </marquee>
  </div>
</div>

<!-- SECTIONS-ONE  -->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 25rem">
        <img src="./assets/chair.jpg" class="card-img-top" alt="..." />

        <div class="bg-dark text-light">
          <div class="card-body">
            <h5 class="card-title">Victory R Swivel Office Chair- Black</h5>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="fw-bold"> $95,000</span> <br />
              <span class="text-decoration-line-through"> $100,000</span>
              <span class="badge bg-warning text-wrap"> 12%</span>
            </li>

            <li
              class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
              role="progressbar "
              style="width: 70%"
              aria-valuenow="75"
              aria-valuemin=""
              aria-valuemax="100"
            >
              70% Rating
            </li>

            <li class="list-group-item">
              <span class="text-warning fw-bold"> Eddie-Flex </span>Express
              items in your order will be delivered for free
            </li>
          </ul>

          <div class="card-body">
            <button class="p-2 mx-3 btn btn-outline-warning" type="submit ">
              Add To Cart
            </button>
            <button class="p-2 mx-3 btn btn-outline-warning" type="submit">
              Details
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 25rem">
        <img src="./assets/table.jpg" class="card-img-top" alt="..." />

        <div class="bg-dark text-light">
          <div class="card-body">
            <h5 class="card-title">Modern Office Table Desk Computer</h5>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="fw-bold"> $100,000</span> <br />
              <span class="text-decoration-line-through"> $150,000</span>
              <span class="badge bg-warning text-wrap"> -10%</span>
            </li>

            <li
              class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
              role="progressbar "
              style="width: 80%"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              80% Rating
            </li>

            <li class="list-group-item">
              <span class="text-warning fw-bold"> Eddie-Flex </span>Express
              items in your order will be delivered for free
            </li>
          </ul>

          <div class="card-body">
            <button class="p-2 mx-3 btn btn-outline-warning" type="submit ">
              Add To Cart
            </button>
            <button class="p-2 mx-3 btn btn-outline-warning" type="submit">
              Details
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 25rem">
        <img src="./assets/lappy.jpg" class="card-img-top" alt="..." />

        <div class="bg-dark text-light">
          <div class="card-body">
            <h5 class="card-title">Hp LAPTOP 15 INTEL CORE I7</h5>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="fw-bold"> $2,000</span> <br />
              <span class="text-decoration-line-through"> $1,500</span>
              <span class="badge bg-warning text-wrap"> -5%</span>
            </li>

            <li
              class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
              role="progressbar "
              style="width: 50%"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              50% Rating
            </li>

            <li class="list-group-item">
              <span class="text-warning fw-bold"> Eddie-Flex </span>Express
              items in your order will be delivered for free
            </li>
          </ul>

          <div class="card-body">
            <button class="p-2 mx-3 btn btn-outline-warning" type="submit ">
              Add To Cart
            </button>
            <button class="p-2 mx-3 btn btn-outline-warning" type="submit">
              Details
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />

  <div class="container mb-5">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 25rem">
          <img src="./assets/headphone.jpg" class="card-img-top" alt="..." />

          <div class="bg-dark text-light">
            <div class="card-body">
              <h5 class="card-title">Bluetooth Wireless Headphone</h5>
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="fw-bold"> $1,000</span> <br />
                <span class="text-decoration-line-through"> $1200</span>
                <span class="badge bg-warning text-wrap"> 12%</span>
              </li>

              <li
                class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                role="progressbar "
                style="width: 65%"
                aria-valuenow="75"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                65% Rating
              </li>

              <li class="list-group-item">
                <span class="text-warning fw-bold"> Eddie-Flex </span>Express
                items in your order will be delivered for free
              </li>
            </ul>

            <div class="card-body">
              <button class="p-2 mx-3 btn btn-outline-warning" type="submit ">
                Add To Cart
              </button>
              <button class="p-2 mx-3 btn btn-outline-warning" type="submit">
                Details
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 25rem">
          <img src="./assets/chair-two.jpg" class="card-img-top" alt="..." />

          <div class="bg-dark text-light">
            <div class="card-body">
              <h5 class="card-title">Stylish Racing Style Chair</h5>
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="fw-bold"> $3,000</span> <br />
                <span class="text-decoration-line-through"> $4,000</span>
                <span class="badge bg-warning text-wrap"> 12%</span>
              </li>

              <li
                class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                role="progressbar "
                style="width: 85%"
                aria-valuenow="75"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                85% Rating
              </li>

              <li class="list-group-item">
                <span class="text-warning fw-bold"> Eddie-Flex </span>Express
                items in your order will be delivered for free
              </li>
            </ul>

            <div class="card-body">
              <button class="p-2 mx-3 btn btn-outline-warning" type="submit ">
                Add To Cart
              </button>
              <button class="p-2 mx-3 btn btn-outline-warning" type="submit">
                Details
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 25rem">
          <img src="./assets/chair-four.jpg" class="card-img-top" alt="..." />

          <div class="bg-dark text-light">
            <div class="card-body">
              <h5 class="card-title">Walnew Racing Style Chair</h5>
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="fw-bold">$4,000</span> <br />
                <span class="text-decoration-line-through">$5,000</span>
                <span class="badge bg-warning text-wrap"> -6%</span>
              </li>

              <li
                class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                role="progressbar "
                style="width: 60%"
                aria-valuenow="75"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                60% Rating
              </li>

              <li class="list-group-item">
                <span class="text-warning fw-bold"> Eddie-Flex </span>Express
                items in your order will be delivered for free
              </li>
            </ul>

            <div class="card-body">
              <button class="p-2 mx-3 btn btn-outline-warning" type="submit ">
                Add To Cart
              </button>
              <button class="p-2 mx-3 btn btn-outline-warning" type="submit">
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FOOOTER -->
<app-footer></app-footer>
<!-- <router-outlet></router-outlet> -->
