<!-- <app-root></app-root> -->

<!-- Navbar -->
<app-nav></app-nav>
<!-- Promo advert -->
<div style="margin-right: 155px; margin-left: 145px">
  <div
    class="text-white bg-secondary"
    style="
      font-size: 25px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    "
  >
    <marquee behavior="row" direction="left">
      <SPan class="text-light badge bg-warning"> PROMO! PROMO!! PROMO!!! </SPan
      >Enjoy Free Unlimited Delivery on
      <SPan class="text-warning"> EDDIE-FLEX</SPan>ONLINESTORE Amazing deals
      just for you Get 10% off every purchase with
      <span class="text-warning"> EDDIE-FLEX </span>
      loyalty card
    </marquee>
  </div>
</div>

<!-- SECTIONS-ONE  -->
<div class="container">
  <div class="row">
    <div class="col" *ngFor="let product of products">
      <app-mycard
        image="./assets/{{ product.image }}"
        title="{{ product.title }}"
        amount="${{ product.amount }}"
        amounts="${{ product.amounts }}"
        percentage="{{ product.percentage }}%"
        rate="width: {{ product.rate }}%"
        rating="{{ product.rating }}%"
      >
      </app-mycard>
    </div>
  </div>
</div>

<!-- FOOOTER -->
<app-footer></app-footer>
<!-- <router-outlet></router-outlet> -->
