<div class="card" style="width: 25rem">
  <img src="./assets/chair.jpg" class="card-img-top" alt="..." />

  <div class="bg-dark text-light">
    <div class="card-body">
      <h5 class="card-title">{{ title }}</h5>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span class="fw-bold"> $95,000</span> <br />
        <span class="text-decoration-line-through"> $100,000</span>
        <span class="badge bg-warning text-wrap"> 12%</span>
      </li>

      <li
        class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
        role="progressbar "
        style="width: 70%"
        aria-valuenow="75"
        aria-valuemin=""
        aria-valuemax="100"
      >
        70% Rating
      </li>

      <li class="list-group-item">
        <span class="text-warning fw-bold"> Eddie-Flex </span>Express items in
        your order will be delivered for free
      </li>
    </ul>

    <div class="card-body">
      <button class="p-2 mx-3 btn btn-outline-warning" type="submit ">
        Add To Cart
      </button>
      <button class="p-2 mx-3 btn btn-outline-warning" type="submit">
        Details
      </button>
    </div>
  </div>
</div>
